{% extends "GUFilmmakingApp/base.html" %}
{% load staticfiles %}
{% load GUFilmmaking_template_tags %}


{% block title %}
Add Post
{% endblock %}

{% block extra_style_sheet %}
<link rel="stylesheet" href="{% static 'style/add_post.css' %}">
{% endblock %}

{% block main_content %}
    <a href="{%  url 'GUFilmmakingApp:add_movie' %}">Post Movie</a>
    <a href="{%  url 'GUFilmmakingApp:add_poster' %}">Post Poster</a>
    <a href="{%  url 'GUFilmmakingApp:add_behind_the_scenes' %}">Post Behind The Scenes</a>
{% endblock %}
{% load GUFilmmaking_template_tags %}
    