<!DOCTYPE html>
{% load staticfiles %}
{% load GUFilmmaking_template_tags %}

<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'style/base.css' %}">
    {% block extra_style_sheet %} {% endblock %}
    <title>
        {% block title %}
        GU Filmmaking Society
        {% endblock title %}
    </title>
</head>

<body>
    <header>
        <div id="top-header-section">

            <form id="searchbar" action="{% url 'GUFilmmakingApp:search' %}" method="get">
                <input type="text" name="search" placeholder="Search GU Filmmaking...">
                <button type="submit">Search</button>
            </form>
            <a href="{%  url 'GUFilmmakingApp:signup' %}">Sign Up</a>
            <a href="{%  url 'GUFilmmakingApp:login' %}">Log In</a>
            <a href="{%  url 'GUFilmmakingApp:add_post' %}">Post</a>
        </div>

        <div id="bottom-header-section">
            <a href="{% url 'GUFilmmakingApp:index' %}">
                <img src="{% static 'images/logo.jpg' %}" alt="GU Filmmaking Logo" id="logo">
            </a>
            <h1>
                <a href="{% url 'GUFilmmakingApp:index' %}">{% block website_name %}
                    GU Filmmaking Society
                    {%endblock%}</a>
            </h1>
            <div id="navigation-links">
                <a href="{% url 'GUFilmmakingApp:search' %}?search_for=Movies">Movies</a>
                <a href="{% url 'GUFilmmakingApp:search' %}?search_for=Posters">Posters</a>
                <a href="{% url 'GUFilmmakingApp:search' %}?search_for=Behind_The_Scenes">Behind the Scenes</a>
            </div>
        </div>
    </header>

    <div>
        {% block main_content %}No body block found{% endblock %}
    </div>

    <footer>
        <a href="{% url 'GUFilmmakingApp:index' %}">Home</a>
        <a href="#">Users</a>
        <a href="{% url 'GUFilmmakingApp:profile' %}">Profile</a>
        <div id="support-us">
            <span>Support Us:</span>
            <a href="https://www.tiktok.com/@gufilmsociety">TikTok</a>
            <a href="https://www.youtube.com/channel/UC3ZZNaKIOgTL1W3QsRmA-HA">YouTube</a>
            <a href="https://www.instagram.com/gufilmmaking/">Instagram</a>
        </div>
    </footer>
</body>

</html>