{% extends 'GUFilmmakingApp/base.html' %}
{% load static %}

{% block extra_style_sheet %}
<link rel="stylesheet" href={% static "style/movie.css" %}>
{% endblock %}
{% block title %}
Media Content Page
{% endblock %}


{% block main_content %}
<h2 id="content-header">{% block header %} {{ bts.title }} {% endblock %}</h2>

<div id="main-content">
    <div id="media-content">
        {% if file_type == "video" %}
        <video src="{{ bts.file.url }}" controls> </video>
        {% elif file_type == "image" %}
        <img src="{{ bts.file.url }}" alt="poster" id="media-content" onclick="this.requestFullscreen()" />
        {% else %}
        <a href="{{ bts.file.url }}" download> bad file type </a>
        {% endif %}

        <div id="likes-and-views">
            <div>
                <img id="likes-img-{{ bts.id }}"
                    src="{% if is_liked %}{% static 'images/likes.png' %}{% else %}{% static 'images/empty_like.png' %}{% endif %}"
                    onclick="likePost({{ bts.id }}, '{% url 'GUFilmmakingApp:like_post' 0 %}')" alt="Like">
                <p id="likes-count-{{ bts.id }}">{{ bts.likes }}</p>
            </div>
            <div>
                <p id="views-count-{{ bts.id }}">Views: {{ bts.views }}</p>
                <img src="{% static " images/views.png" %}" alt="Views logo" id="views">
            </div>
        </div>
    </div>

    <div id="bottom-content">
        <div id="description-content">
            <p id="author"> Author: {{ bts.author }} </p>
            <p id="description"> {{ bts.description}} </p>
        </div>

        <div id="share-section">
            <p>Share:</p>
            <button id="Copy"
                onclick="window.navigator.clipboard.writeText(window.location.href);this.innerText='Copied';"> Copy link
                to clipboard</button>
        </div>
    </div>

</div>

{% endblock %}

{% block extra_js %}
<script>


    function likePost(postId) {
        fetch('{% url "GUFilmmakingApp:like_post" 0 %}'.replace('0', postId), {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json'
            },
        })
            .then(response => response.json())
            .then(data => {
                document.getElementById('likes-count-' + postId).innerText = data.likes;
                var img = document.getElementById('likes-img-' + postId);
                var fileName = img.src.split("/").pop();
                if (data.liked) {
                    img.src = '{% static "images/likes.png" %}';
                } else {
                    img.src = '{% static "images/empty_like.png" %}';
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function updatePageViews(postId, viewsUrl) {
        $.ajax({
            url: viewsUrl.replace('0', postId),
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#views-count-' + postId).text("Views: " + data.views);
            },
            error: function (xhr, status, error) {
                console.error('Error updating views:', error);
            }
        });
    }

    $(document).ready(function () {
        updatePageViews({{ bts.id }}, "{% url 'GUFilmmakingApp:update_views' 0 %}");
    });

</script>
{% endblock %}