{% extends 'GUFilmmakingApp/base.html' %}
{% load static %}

{% block extra_style_sheet %}
<link rel="stylesheet" href={% static "style/movie.css" %}>
{% endblock %}
{% block title %}
Media Content Page
{% endblock %}


{% block main_content %}
<h2 id="content-header">{% block header %} {{ movie.title }} {% endblock %}</h2>

<div id="main-content">
    <div id="media-content">
        <video src="{{ movie.file.url }}" width="320" height="240" controls> </video>
        <div id="likes-and-views">
            <div>
                <p>{{ movie.likes }}</p> <img src="{% static "images/likes.png" %}" alt="GU Filmmaking Logo" id="likes">
            </div>
            <div>
                <p>{{ movie.views }}</p> <img src="{% static "images/views.png" %}" alt="GU Filmmaking Logo" id="views">
            </div>
        </div>
    </div>

    <div id="bottom-content">
        <div id="description-content">
            <p id="author"> Author: {{ movie.author }} </p>
            <p id="description"> {{ movie.description}} </p>
        </div>

        <div id="share-section">
            <p>Share:</p>
            <button id="Copy"
                onclick="window.navigator.clipboard.writeText(window.location.href);this.innerText='Copied';"> Copy link
                to clipboard</button>
        </div>
    </div>

</div>

{% endblock %}