{% extends 'GUFilmmakingApp/base.html' %}
{% load static %}

{% block extra_style_sheet %}
<link rel="stylesheet" href={% static "style/poster.css" %}>
{% endblock %}
{% block title %}
Media Content Page
{% endblock %}





{% block main_content %}
<h2 id="content-header">{% block header %} {{ poster.title }} {% endblock %}</h2>

<div id="main-content">
    <div id="media-content">
        <img src="{{ poster.file.url }}" alt="poster" id="media-content" onclick="this.requestFullscreen()" />
        <div id="likes-and-views">
            <div>
                <p id="likes-count-{{ poster.id }}">{{ poster.likes }}</p>
                <img id="likes-img-{{ poster.id }}"
                    src="{% if is_liked %}{% static 'images/likes.png' %}{% else %}{% static 'images/empty_like.png' %}{% endif %}"
                    onclick="likePost({{ poster.id }})" alt="Like">
            </div>
            <div>
                <p id="views-count-{{ poster.id }}">Views: {{ poster.views }}</p>
                <img src="{% static "images/views.png" %}" alt="Views logo" id="views">
            </div>
        </div>
    </div>

    <div id="right-side-content">
        <div id="description-content">
            <p id="author"> Author: {{ poster.author }} </p>
            <p id="description"> {{ poster.description}} </p>
        </div>

        <div id="share-section">
            <p>Share:</p>
            <button id="Copy"
                onclick="window.navigator.clipboard.writeText(window.location.href);this.innerText='Copied';"> Copy link
                to clipboard</button>
        </div>
    </div>

</div>

{% endblock %}

{% block extra_js %}
<script>
    function likePost(postId) {
        $.ajax({
            url: '{% url "GUFilmmakingApp:like_post" 0 %}'.replace('0', postId),
            type: 'POST',
            data: JSON.stringify({ 'post_id': postId }),
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json'
            },
            dataType: 'json',
            success: function (data) {
                $('#likes-count-' + postId).text(data.likes);
                var img = $('#likes-img-' + postId);
                if (data.liked) {
                    img.attr('src', '{% static "images/likes.png" %}');
                } else {
                    img.attr('src', '{% static "images/empty_like.png" %}');
                }
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    function updatePageViews(postId, viewsUrl) {
        $.ajax({
            url: viewsUrl.replace('0', postId),
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#views-count-' + postId).text("Views: " + data.views);
            },
            error: function (xhr, status, error) {
                console.error('Error updating views:', error);
            }
        });
    }

    $(document).ready(function () {
        updatePageViews({{ poster.id }}, "{% url 'GUFilmmakingApp:update_views' 0 %}");
    });

</script>
{% endblock %}