{% extends 'GUFilmmakingApp/base.html' %}
{% load static %}

{% block extra_style_sheet %}
<link rel="stylesheet" href={% static "style/poster.css" %}>
{% endblock %}
{% block title %}
Media Content Page
{% endblock %}





{% block main_content %}
<h2 id="content-header">{% block header %} {{ poster.title }} {% endblock %}</h2>

<div id="main-content">
    <div id="media-content">
        <img src="{{ poster.file.url }}" alt="poster" id="media-content" onclick="this.requestFullscreen()" />
        <div id="likes-and-views">
            <div>
                <p id="likes-count-{{ poster.id }}">{{ poster.likes }}</p>
                <img id="likes-img-{{ poster.id }}"
                    src="{% if is_liked %}{% static 'images/likes.png' %}{% else %}{% static 'images/empty_like.png' %}{% endif %}"
                    onclick="likePost({{ poster.id }})" alt="Like">
            </div>
            <div>
                <p>{{ poster.views }}</p> <img src="{% static "images/views.png" %}" alt="Views logo"
                    id="views">
            </div>
        </div>
    </div>

    <div id="right-side-content">
        <div id="description-content">
            <p id="author"> Author: {{ poster.author }} </p>
            <p id="description"> {{ poster.description}} </p>
        </div>

        <div id="share-section">
            <p>Share:</p>
            <button id="Copy"
                onclick="window.navigator.clipboard.writeText(window.location.href);this.innerText='Copied';"> Copy link
                to clipboard</button>
        </div>
    </div>

</div>

{% endblock %}

{% block extra_js %}
<script>
    function likePost(postId) {
        fetch('{% url "GUFilmmakingApp:like_post" 0 %}'.replace('0', postId), {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json'
            },
        })
            .then(response => response.json())
            .then(data => {
                document.getElementById('likes-count-' + postId).innerText = data.likes;
                var img = document.getElementById('likes-img-' + postId);
                var fileName = img.src.split("/").pop();
                if (data.liked) {
                    img.src = '{% static "images/likes.png" %}';
                } else {
                    img.src = '{% static "images/empty_like.png" %}';
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock %}