{% extends 'GUFilmmakingApp/base.html' %}
{% load static %}

{% block title %}
Profile
{% endblock %}

{% block extra_style_sheet %}
<link rel="stylesheet" href="{% static 'style/profile.css' %}">
{% endblock %}

{% block main_content %}
<div id="username-section">
    <h1>username : {{ profile.user.username }}</h1>
</div>
<div id="profile-top-row">
    <div id="profile-pic-section">
        <img id="profile-pic" src="{{ profile.profileImage.url }}" alt="Profile Picture">

        {% if user.is_authenticated and user.username == profile.user.username %}
        <div id="profile-buttons">
            <input type="file" id="upload-button" accept="image/*">
            <button id="remove-button" onclick="">Remove Picture</button>
        </div>
        {% endif %}

    </div>

    <div id="bio-section">
        <h2>Biography</h2>
        <p id="bio-content">{{ profile.bio }}</p>

        {% if user.is_authenticated and user.username == profile.user.username %}
        <button id="edit-bio-button" onclick="">Edit Biography</button>
        {% endif %}

    </div>
</div>

<div class="profile-posts">
    <div class="posts">
        <h2>Liked Posts</h2>
        {% for post in liked_posts %}
            <div class="post"
                onclick="window.location.href = '{% url 'GUFilmmakingApp:redirect_from_slug' 'post' post.slug  %}'">
                <h3>{{ post.title}}</h3>
                <img src="{{ post.thumbnail.url }}" alt="Thumbnail for {{ post.title }}">
                <p>Description: {{ post.description }}</p>
                <p>Likes: {{ post.likes }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="posts">
        <h2>Posted Posts</h2>
        {% for post in profile_posts %}
            <div class="post"
                onclick="window.location.href = '{% url 'GUFilmmakingApp:redirect_from_slug' 'post' post.slug  %}'">
                <h3>{{ post.title }}</h3>
                <img src="{{ post.thumbnail.url }}" alt="Thumbnail for {{ post.title }}">
                <p>Description: {{ post.description }}</p>
                <p>Views: {{ post.views }}</p>
            </div>
        {% endfor %}
    </div>
</div>

<script>// Function to handle profile picture upload
    document.getElementById('upload-button').addEventListener('change', function () {
        var file = this.files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            document.getElementById('profile-pic').src = e.target.result;
        };
        reader.readAsDataURL(file);
    });

    // Function to handle profile picture removal
    function removeProfilePicture() {
        document.getElementById('profile-pic').src = ''; // Clearing the source
    }

    // Function to handle biography editing
    function editBio() {
        var newBio = prompt("Enter your new biography:");
        if (newBio !== null) {
            document.getElementById('bio-content').innerText = newBio;
        }
    }</script>


{% endblock %}