{% extends 'GUFilmmakingApp/base.html' %}
{% load static %}

{% block extra_style_sheet %}
    <link rel="stylesheet" href="{% static 'style/search.css' %}">
{% endblock %}
{% block title %}
    Search...
{% endblock %}

{% block main_content %}
    <form id="search-menu" action="{% url 'GUFilmmakingApp:search' %}" method="get">
        <div id="search-bar">
            <input type="text" name="search" placeholder="Search GU Filmmaking...">
            <button type="submit">Search</button>
            <button type="button" id="drop-button" class="collapsible">Dropdown</button>
        </div>

        <div id="content">
            <div class ="radio-options">
                <p>Search Within: </p>
                <input type="radio" id="Movies" name="search_for" value="longer_movie">
                    <label for="Movies">Movies</label><br>
                <input type="radio" id="Shorts" name="search_for" value="shorter_movie">
                    <label for="Shorts">Shorts</label><br>
                <input type="radio" id="Posters" name="search_for" value="poster">
                    <label for="Posters">Posters</label><br>
                <input type="radio" id="Behind-the-Scenes" name="search_for" value="bts">
                    <label for="Behind-the-Scenes">Behind the Scenes</label><br>
                <input type="radio" id="Users" name="search_for" value="Users">
                    <label for="Users">Users</label><br>
                <input type="radio" id="All" name="search_for" value="All" checked>
                    <label for="All">All</label>
            </div>

            <div class ="radio-options">
                <p>Sort By: </p>
                <input type="radio" id="most-likes" name="sort_by" value="-likes">
                    <label for="most-likes">Most Likes</label><br>
                <input type="radio" id="least-likes" name="sort_by" value="likes">
                    <label for="least-likes">Least Likes</label><br>
                <input type="radio" id="most-views" name="sort_by" value="-views">
                    <label for="most-views">Most Views</label><br>
                <input type="radio" id="least-views" name="sort_by" value="views">
                    <label for="least-views">Least Views</label><br>
                <input type="radio" id="relevancy" name="sort_by" value="relevancy" checked>
                    <label for="relevancy">Relevancy</label>
            </div>
        </div>
    </form>

    <div class="search-results-section">
        <h2>Most Liked Posts</h2>
        {% for result in search_results %}
            <div class="result" onclick="window.location.href = 'https://www.openai.com'">
                <h3>{{ result.title}}</h3>
                <img src="{{ result.thumbnail.url }}" alt="Thumbnail for {{ post.title }}">
                <p>Description: {{ result.description }}</p>
                <p>Likes: {{ result.likes }}</p>
            </div>
        {% endfor %}
    </div>

    <script src="{% static 'scripts/search_menu.js' %}"></script>
{% endblock %}