{% extends 'GUFilmmakingApp/base.html' %}
{% load static %}

{% block title %}
Short Movies
{% endblock %}



{% block main_content %}
<div id="post-section">

    <button id="switch-movies">Switch to Long Movies</button>
    <h1>Short Movies Posts</h1>
    {% if posts %}
    <ul>
        {% for post in posts %}
        <li><a href="{% url 'GUFilmmakingApp:page' %}">{{ post.title }}</a> </li>
        {% endfor %}
    </ul>
    {% else %}
    <li><strong>There are no Short Movies posts</strong></li>
    {% endif %}
</div>

{% block extra_js %}
<script src="{% static 'scripts/switch_movie_to_long.js' %}"></script>
{% endblock %}


{% endblock %}