{% extends "GUFilmmakingApp/base.html" %}
{% load static %}
{% block title %}
Signup
{% endblock %}

{% block extra_style_sheet %}
<link rel="stylesheet" href="{% static 'style/signup.css' %}">
{% endblock %}

{% block main_content %}
<div id="signup-container">
    <div id="signup-box">
        <h2>New to Glasgow Filmmaking Society?</h2>
        {% if registered %}
        <div class="alert success">
            <strong>Thank you for registering!</strong>
            You can now <a href="{% url 'GUFilmmakingApp:login' %}">login</a>
        </div>
        {% else %}
        <strong>Register here!</strong><br />
        <form id="user_form" method="post" action="{% url 'GUFilmmakingApp:signup' %}" enctype="multipart/form-data">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />


            <div id="submit-button">
                <input type="submit" name="submit" value="Register" />
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}