/* Centering the options */
#main {
    display: flex;
    justify-content: center;
}

/* Styling the boxes */
.post-option {
    margin: 20px;
}

.post-option-box {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    width: 150px;
    height: 170px;
    border-radius: 10px;
}

.post-option-box img {
    width: 100px;
    /* Adjust size as needed */
    height: 100px;
    /* Adjust size as needed */
}