#username-section {
    text-align: center;
    margin-top: 20px;
}

#authenticated-section {
    text-align: center;
    display: flex;
    /* Enables Flexbox */
    align-items: center;
    /* Aligns items vertically in the center */
    justify-content: center;
    /* Centers items horizontally */
    margin-top: 10px;
}


#profile-top-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

#left-section,
#right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-pic-container {
    margin-bottom: 20px;
}

#profile-pic {
    min-width: 230px;
    min-height: 230px;
    border: 1px solid #ccc;
    object-fit: cover;
    border-color: black;
}

#bio-section {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    min-height: 150px;
    width: 80%;
}

#pic-form-container,
#bio-form-container {
    width: 80%;
}

.profile-posts {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    width: 90%;
    height: auto;
}

.posts {
    margin: 20px;
    width: 40%;
}

.post {
    width: 100%;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.post:hover {
    border: 3px solid black;
}

.post img {
    height: 30px;
    width: auto;
}