#profile-top-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

#profile-pic {
    width: 230px;
    height: 230px;
    border: 1px solid #ccc;
    display: flex;
    align-items: right;
    justify-content: center;
    margin-left: 350px;
    margin-top: 30px;
}

#profile-pic img {
    max-width: 100%;
    max-height: 100%;
}

#posts-bottom-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
}

#profile-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 60px;
}

#liked-posts-section,
#posted-posts-section {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

#bio-section {
    margin-right: 100px;
}

#bio-content {
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 100px;
    min-height: 150px;
    padding: 10px;

}