{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div id="home-page">
    <div id="about">
        <img src="" alt="Home Page Photo" id="home-photo">
        <div id="about-text">
            <h2>About Us</h2>
            <p>
                About filmmaking society text...
            </p>
        </div>
    </div>

    <div id="most-liked-posts-section">
        <h2>Most Liked Posts</h2>
        <ul>
            <li><a href="">Post 1 Title</a></li>
            <li><a href="">Post 2 Title</a></li>
            <li><a href="">Post 3 Title</a></li>
        </ul>
    </div>

    <div id="most-viewed-posts-section">
        <h2>Most Viewed Posts</h2>
        <ul>
            <li><a href="">Post 1 Title</a></li>
            <li><a href="">Post 2 Title</a></li>
            <li><a href="">Post 3 Title</a></li>
        </ul>
    </div>
</div>

{% endblock %}