<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_style_sheet %}
    <link rel="stylesheet" href={% static "style/content_page.css" %}>
{% endblock %}
{% block title %}
    Media Content Page
{% endblock %}


{% block main_content %}
    <h2 id="content-header">{% block header %} Poster header {% endblock %}</h2>

    <div id = "main-content">
        <div id="media-content">
            <img src="{{ MEDIA_URL }}poster2022-2023.jpg" alt="poster" id="media-content" onclick="this.requestFullscreen()"/>
            <div id="likes-and-views">
                <div>
                    <p>5</p> <img src="{% static "images/likes.png" %}" alt="GU Filmmaking Logo" id="logo">
                </div>
                <div>
                    <p>11</p> <img src="{% static "images/views.png" %}" alt="GU Filmmaking Logo" id="logo">
                </div>
            </div>
        </div>

        <div id="right-side-content">
            <div id="description-content">
                <p id="author"> By AuthorName </p>
                <p id="description"> very descriptive description about poster </p>
            </div>

            <div id="share-section">
                    <p>Share:</p>
                    <button id = "Copy" onclick="window.navigator.clipboard.writeText(window.location.href);this.innerText='Copied';"> Copy link to clipboard</button>
            </div>
        </div>

    </div>

{% endblock %}