{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_style_sheet %}
    <link rel="stylesheet" href="{% static 'style/search.css' %}">
{% endblock %}
{% block title %}
    Search...
{% endblock %}

{% block main_content %}
    <div id="search-menu">
        <input type="text" name="search" placeholder="Search GU Filmmaking...">
        <button type="submit">Search</button>
        <div id="collapsable-menu">
            <button id="drop-button" class="collapsible">Dropdown</button>

            <div class="content">
                <p> Misc search button here </p>
            </div>
        </div>
    </div>

    <div id="below-content">
        test content
    </div>

    <script src="{% static 'scripts/search_menu.js' %}"></script>
{% endblock %}